@model recipes_system.Models.RecipeDto

@{
    ViewBag.Title = "Details";
}


<a href="/recipe/List">Go back to list</a>
<h2>@Model.Title</h2>
<div>weight: @Model.Ingridents</div>
<div>species: @Model.Categories</div>

