


@{
    ViewBag.Title = "New";
}

<h2>Create recipe</h2>
<form action="/recipe/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="Title" />
    </div>
    <div>
        <label>Categories:</label> <input type="text" name="Categories" />
    </div>
    <div>
        <label>Ingridents:</label> <input type="text" name="Ingridents" />
    </div>
    <div>
        <input type="submit" value="Add recipe" />
    </div>
</form>


